body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding: 50px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 100px); /* Adjust for header height */
}

.left {
  flex: 1;
}
.top-right, .bottom-right, .left{
  border: 2px solid black;
}
.right {
  flex: 3;
  flex-direction: column;
  display: flex;
}
.top-right, .bottom-right {
  flex: 1;
}
.bottom-right {
  flex:.5; /* Adjust for spacing between rectangles */
}